.button {
  min-width: 75px;
  padding: var(--padding);
  border: 1px solid transparent;
  border-radius: var(--radius);
  font-size: var(--font);
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

.transparent {
  background-color: transparent;
  color: #fff;
}

.primary {
  background-color: var(--theme-color);
  color: var(--white);
}
