.logo {
  display: block;
}

.logo_image {
  width: 170px;
  height: fit-content;
  object-fit: contain;
}

.header {
  width: fit-content;
  position: relative;
}

.beta {
  position: absolute;
  top: 0;
  right: -20%;
  padding: calc(var(--padding) * 0.5) var(--padding);
  text-transform: uppercase;
  color: #fff;
  font-size: 0.675rem;
  border-radius: var(--radius);
}
