.category {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  color: var(--theme-color);
}

@media (min-width: 768px) {
  .category {
    font-size: var(--font-sm);
  }
}

@media (min-width: 1024px) {
  .category {
    font-size: var(--font);
  }
}
